<html>
    <body>
        <h2>Categories</h2>
        {% for c in company %}
        <a href="{{url_for('showCompany',com=c.cname)}}">{{ c.cname }}</a>
        <br>
        {% endfor %}
        <br>
        <a href="{{url_for('addProduct')}}">Add Product</a>
        <h2>Latest Products</h2>
        {% for p in product %} 
        {% for c in company %}
        {% if p.pc == c.id %}
        <a href="{{url_for('showProduct',cname=c.cname,pname=p.pname)}}">
        {{ p.pname }}</a>({{ c.cname }})
        {% endif %}
        {% endfor %}
        <br>
        {% endfor %}
    </body>
</html>