<html>
    <head>
        <title>Mobile Phone Catalog</title>
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename = 'styles.css')}}" />
    </head>
    <body>
        <div class="top-bar-layout">
            <h1>Mobile Phone Catalog</h1>
            <a href="{{url_for('gdisconnect')}}"><button class="login-button">Log Out</button></a>
        </div>
        <div class="grid-layout">
            <div class="flex">
                <div class="message-color">
                    {% with messages = get_flashed_messages() %}
                    {% if messages %}
                    <ul>
                    {% for message in messages %}
                    <li><strong>{{ message }}</strong></li>
                    {% endfor %}
                    </ul>
                    {% endif %}
                    {% endwith %}
                </div>
                <h2>Categories</h2>
                {% for c in company %}
                <a href="{{url_for('showCompany',com=c.cname)}}">{{ c.cname }}</a><br>
                {% endfor %}<br>
                <a href="{{url_for('addProduct')}}">Add Product</a>
            </div>
            <div class="flex">
                <h2>Latest Products</h2>
                {% for p in product %} 
                {% for c in company %}
                {% if p.pc == c.id %}
                <a href="{{url_for('showProduct',cname=c.cname,pname=p.pname)}}">
                {{ p.pname }}</a>({{ c.cname }})
                {% endif %}
                {% endfor %}
                <br>
                {% endfor %}
            </div>
        </div>
    </body>
</html>